[flake8]
max-line-length = 100
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .eggs,
    .tox,
    .venv,
    venv,
    *.egg-info
per-file-ignores =
    __init__.py: F401, F403, D400
    tests/*: E501, D100, D101, D102, D103, D104, D105, D107, D200, D202, D205, D400, D401
    examples.py: D200, D205, D400, D401
    docs/conf.py: D100, E402
    src/etracer/models.py: D100
    src/etracer/tracer.py: D205, D400, D401
    src/etracer/interfaces.py: D205
    src/etracer/utils/printer.py: D101
    src/etracer/utils/spinner.py: D205
extend-ignore =
    W503,
    D107,
    D200
max-complexity = 10
